<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather app</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="input">
            <div>
                <center>
                    <fieldset>
                        <form action="/weather" method="post">
                            <input name="city" type="text" placeholder="Enter a City" required>
                            <input type="submit" value="Get Weather">
                        </form>
                    </fieldset>
                </center>
            </div>
        </div>
        <div class = "wrapper">
            <div>
                <% if(weather !== null){ %>
                <p><%= weather %></p>
                <% } %>

                <% if(error !== null){ %>
                <p><%= error %></p>
                <% } %>
            </div>
        </div>
    </body>
</html>