<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather app</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="input">
            <div>
                <center> 
                    <% if(weather == null && city == null){ %>
                    <p>5 day forcast each 6 hours</p>
                    <% } %>
                    <fieldset>
                        <form action="/5weather" method="post">
                            <input name="city" type="text" placeholder="Enter a City" required>
                            <input type="submit" value="Get Weather">
                        </form>
                        <% if(weather != null && city != null){ %>
                        <p>5 day forcast each 6 hours for <%= city %></p>
                        <%for (i = 1; i < weather.length; i += 2) { %>
                        <p>time: <%= weather[i].dt_txt; %> Temp: <%= weather[i].main.temp %></p>
                        <% }} %>

                        <% if(error !== null){ %>
                        <p><%= error %></p>
                        <% } %>
                    </fieldset>
                </center>
            </div>
        </div>
    </body>
</html>